services:
  api-pessoa:
    container_name: api-pessoa
    build:
      context: .docker/node/
      dockerfile: Dockerfile
    environment:
      - NODE_ENV=development
    entrypoint: .docker/node/entrypoint.sh
    ports:
      - '3004:3004'
      - '7004:7004'
    volumes:
      - .:/home/node/app
    networks:
      - codelab-net

  db-pessoa:
    container_name: db-pessoa
    build:
      context: ./.docker/postgres
      dockerfile: Dockerfile
    command: postgres -c log_statement=all -p 5004
    volumes:
      - '.docker/postgres/data:/var/lib/postgresql/data'
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=api-pessoa
    ports:
      - '5004:5004'
    networks:
      - codelab-net

networks:
  codelab-net:
    name: codelab-net
    external: true
